<div class="ga-image-container">
    <div *ngIf="noResult">
        <h3>Cound not find images for the keyword, please try another.</h3>
        <img src="assets/image/notFound.jpg" alt="Result not found">
    </div>
    <ul class="ga-image-list" [hidden]="!noResult" infinite-scroll (scrollAction)="loadMoreImages()">
        <li *ngFor="let image of imageList">
            <img src="{{image.url}}.jpg" sizes="(max-width: 480px) 100vw,(max-width: 786px) 50vw, 30vw" srcset="{{image.url}}_n.jpg 300w,
                {{image.url}}_n.jpg 350w,
                {{image.url}}_z.jpg 500w" alt="{{image.title}}">
        </li>
    </ul>
    <h2 *ngIf="toEnd">
        <span>{{total}} Results</span>
    </h2>
</div>