.photo {
  text-align: center;
}

@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .photo {
    width: calc(50%);
  }
}

@media screen and (min-width: 769px) {
  .photo {
    width: calc(100% / 3);
  }
}
